Language: Cpp

AllowShortFunctionsOnASingleLine: false

AlignAfterOpenBracket: DontAlign

AlwaysBreakTemplateDeclarations: true

AlignConsecutiveAssignments: true

BraceWrapping:
{
    AfterClass: 'true'
    AfterControlStatement: 'false'
    AfterEnum: 'true'
    AfterFunction: 'true'
    AfterNamespace: 'false'
    AfterStruct: 'true'
    AfterUnion: 'true'
    BeforeCatch: 'false'
    BeforeElse: 'false'
} 

# Indent 4 columns
IndentWidth: 4
TabWidth: 4

# Use spaces instead of tabs
UseTab: Never

# Don't indent case labels
IndentCaseLabels: false

# Algin pointer to the left
PointerAlignment: Left

# Disable namespace indention
NamespaceIndentation: None

# Unindent access modifier
AccessModifierOffset: -4

# Brace behaviour
BreakBeforeBraces: WebKit

SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpacesInSquareBrackets: false

